.text-green-500 {
  color: var(--green-500) !important;
}

.text-red-500 {
  color: var(--red-500) !important;
}

.edit-button {
  margin-right: 0.5rem;
}

.table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h2 {
    margin: 0px;
  }
}
