<form action="" [formGroup]="registerForm">
  <div class="container">
    <h1>Register</h1>
    <p>Please fill all details in this form to create an account.</p>
    <hr />
    <div class="form-element">
      <label for="psw-repeat"><b>Name</b></label>
      <input type="text" placeholder="Enter Name" name="psw-repeat" id="psw-repeat" required formControlName="name" />
      <div *ngIf="
          registerForm.get('name')?.invalid &&
          (registerForm.get('name')?.dirty ||
            (registerForm.get('name')?.invalid && registerForm.get('name')?.touched))
        " class="error-message">
        Invalid name.
      </div>
    </div>
    <div class="form-element">
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" id="email" required formControlName="email" />
      <div *ngIf="
          registerForm.get('email')?.invalid &&
          (registerForm.get('email')?.dirty ||
            (registerForm.get('email')?.invalid && registerForm.get('email')?.touched))
        " class="error-message">
        Invalid Email.
      </div>
    </div>
    <div class="form-element">
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" id="psw" required formControlName="password"
        maxlength="8" />
      <div *ngIf="
          registerForm.get('password')?.invalid &&
          (registerForm.get('password')?.dirty ||
            (registerForm.get('password')?.invalid &&
              registerForm.get('password')?.touched))
        " class="error-message">
        Invalid password.
      </div>
    </div>
    <hr />

    <button type="submit" class="register-btn" (click)="onSubmit()" [disabled]="registerForm.invalid">
      Register
    </button>
  </div>

  <div class="">
    <p>Already have an account? <a [routerLink]="'/log-in'">Sign in</a>.</p>
  </div>
</form>
