/* Set a style for the submit button */
.register-btn {
  background-color: #04aa6d;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
}

.register-btn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

@media (max-width: 500px) {
  .register-btn {
    width: 50%;
  }
}
